<a href="https://colab.research.google.com/github/AVData/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/Agustin_Vargas_assignment_regression_classification_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [x] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [x] Engineer at least two new features. (See below for explanation & ideas.)
- [x] Fit a linear regression model with at least two features.
- [x] Get the model's coefficients and intercept.
- [x] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- **Are cats _and_ dogs allowed?**
- **Total number of rooms (beds + baths)**
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [62]:
# Considering we are going to be using time data to create the split data, I
# want to look at the .dtypes of all of the columns

df.dtypes

bathrooms               float64
bedrooms                  int64
created                  object
description              object
display_address          object
latitude                float64
longitude               float64
price                     int64
street_address           object
interest_level           object
elevator                  int64
cats_allowed              int64
hardwood_floors           int64
dogs_allowed              int64
doorman                   int64
dishwasher                int64
no_fee                    int64
laundry_in_building       int64
fitness_center            int64
pre-war                   int64
laundry_in_unit           int64
roof_deck                 int64
outdoor_space             int64
dining_room               int64
high_speed_internet       int64
balcony                   int64
swimming_pool             int64
new_construction          int64
terrace                   int64
exclusive                 int64
loft                      int64
garden_patio              int64
wheelchair_access         int64
common_outdoor_space      int64
dtype: object

In [63]:
# The column 'created' is the column that will be used to split the data; we
# will change its type to datetime using the pd.to_datetime() function

df['created'] = pd.to_datetime(df['created'])
df.dtypes

bathrooms                      float64
bedrooms                         int64
created                 datetime64[ns]
description                     object
display_address                 object
latitude                       float64
longitude                      float64
price                            int64
street_address                  object
interest_level                  object
elevator                         int64
cats_allowed                     int64
hardwood_floors                  int64
dogs_allowed                     int64
doorman                          int64
dishwasher                       int64
no_fee                           int64
laundry_in_building              int64
fitness_center                   int64
pre-war                          int64
laundry_in_unit                  int64
roof_deck                        int64
outdoor_space                    int64
dining_room                      int64
high_speed_internet              int64
balcony                          int64
swimming_pool                    int64
new_construction                 int64
terrace                          int64
exclusive                        int64
loft                             int64
garden_patio                     int64
wheelchair_access                int64
common_outdoor_space             int64
dtype: object

In [64]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [65]:
# Since we only want to use the months of April, May, and June, and they're all
# from the same year (2016), we can simple add a single new column contaning the
# months, and then extract the train and test data from that column
# 
# The months are categorized by their respective numbers: 
# April = 4, May = 5, June = 6

df['month'] = df['created'].dt.month
df.head()

   bathrooms  bedrooms  ... common_outdoor_space month
0        1.5         3  ...                    0     6
1        1.0         2  ...                    0     6
2        1.0         1  ...                    0     4
3        1.0         1  ...                    0     4
4        1.0         4  ...                    0     4

[5 rows x 35 columns]

In [81]:
# Setting up our train/test data split using April and May 2016 for training 
# dataset, and the June 2016 for the testing dataset

train = df[df['month'] == 4 & 5]
test = df[df['month'] == 6]
print(train.head(), '\n', test.head())

   bathrooms  bedrooms  ... cats_dogs_allowed total_number_of_rooms
2        1.0         1  ...                 0                   2.0
3        1.0         1  ...                 0                   2.0
4        1.0         4  ...                 0                   5.0
5        2.0         4  ...                 0                   6.0
6        1.0         2  ...                 2                   3.0

[5 rows x 37 columns]
     bathrooms  bedrooms  ... cats_dogs_allowed total_number_of_rooms
0         1.5         3  ...                 0                   4.5
1         1.0         2  ...                 2                   3.0
11        1.0         1  ...                 0                   2.0
14        1.0         1  ...                 0                   2.0
24        2.0         4  ...                 2                   6.0

[5 rows x 37 columns]

In [68]:
# Creating new features

# New features to work with:
# Bed + Bath
# Cats and dogs allowed

# First, we'll create feature to see if cats and dogs are allowed
# If both cats and dogs are allowed our new feature will show a 2, if else, 1 or 0

df['cats_dogs_allowed'] = df['cats_allowed'] + df['dogs_allowed']
df['cats_dogs_allowed'].head()

0    0
1    2
2    0
3    0
4    0
Name: cats_dogs_allowed, dtype: int64

In [69]:
# Our second feature will show the total number of combined rooms and bathrooms
# Bed plus bath feature called 'total_number_of_rooms'

df['total_number_of_rooms'] = df['bathrooms'] + df['bedrooms']
df['total_number_of_rooms'].head()

0    4.5
1    3.0
2    2.0
3    2.0
4    5.0
Name: total_number_of_rooms, dtype: float64

In [76]:
df.head()

   bathrooms  bedrooms  ... cats_dogs_allowed total_number_of_rooms
0        1.5         3  ...                 0                   4.5
1        1.0         2  ...                 2                   3.0
2        1.0         1  ...                 0                   2.0
3        1.0         1  ...                 0                   2.0
4        1.0         4  ...                 0                   5.0

[5 rows x 37 columns]

In [82]:
# Fitting a linear regression model with at least two features

from sklearn.linear_model import LinearRegression
from ipywidgets import interact

features = ['total_number_of_rooms', 'cats_dogs_allowed']
target = 'price'
X = train[features]
y = train[target]


# Fitting the model
model = LinearRegression()
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [83]:
# setting up predictors

def predict(total_number_of_rooms, cats_dogs_allowed):
  y_pred = model.predict([[total_number_of_rooms, cats_dogs_allowed]])
  estimate = y_pred[0]
  tot_rooms_coef = model.coef_[0]
  cats_dogs_coef = model.coef_[1]
  result = f'Rent for an apartment allowing cats and dogs, and with {total_number_of_rooms} combined bedrooms and bathrooms in NYC is estimated ${estimate:,.0f}.'
  explanation = f'In this model, having both pets adds ${cats_dogs_coef:,.0f} and each combined room adds ${tot_rooms_coef:,.0f}'
  return print(result + '\n' + explanation)

predict(3.5, 2)

Rent for an apartment allowing cats and dogs, and with 3.5 combined bedrooms and bathrooms in NYC is estimated $4,270.
In this model, having both pets adds $97 and each combined room adds $786

In [84]:
# Getting the intercept and coef

model.intercept_, model.coef_

(1323.821518161335, array([786.29623403,  96.83016514]))

In [0]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [0]:
y_pred = model.predict(test[features])

In [100]:
mse = mean_squared_error(test[target], y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(test[target], y_pred)
r2 = r2_score(test[target], y_pred)
print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Mean Squared Error: 1787021.0804743075
Root Mean Squared Error: 1336.7950779660687
Mean Absolute Error: 899.0539551225256
R^2: 0.4250293268716847